h2 {
	margin-bottom: 5rem;
}


.contentBlocks {
	background-color: #f2f1f1;
	width: 65%;
	margin: 2.5rem auto;
	overflow: hidden;
}


.contentBlocks h3 {
	color: #062D5D;
	height: 8rem;
	font-size: 2.2rem;
	padding-top: 2rem;
}

.contentBlocks p {
	padding-top: 2.5rem;
	padding: 3.3rem;
	background-color: #f2f1f1;
}


.contentBlocks:hover {
	cursor: pointer;
}

.contentBlocks .colorNumber {
	display: inline-block;
	float: left;
	width: 10rem;
	height: 10rem;
	background-color: #F18903;
	color: white;
	line-height: 10rem;
	text-align: center;
	font-size: 3.5rem;
	margin-right: 1.5rem;
}

@media (max-width: 37.5em) {

	.contentBlocks {
		width: 75%;
	}

	.contentBlocks h3 {
		font-size: 1.5rem;
	}

	.contentBlocks p {
		font-size: 1.7rem;
		padding: 2rem;
	}

	.contentBlocks span {
		width: 5rem !important;
	}
}

@media (max-width: 50em) {
	.contentBlocks h3 {
		font-size: 1.5rem;
	}
}